<!DOCTYPE html> 
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Yukti Agarwal Portfolio</title>
</head>

<body>

 <header>
    <h1>WELCOME!!!</h1>
         <p>
		<img src="MyPhoto.jpg"width="500" height="500" alt="My Photo">
		Hello everyone!! I, Yukti Agarwal, welcome you to my portfolio page. I always find exciting to tell people about me so here we go....
	</p>

 </header>

   <section>
    <h2>Achievements</h2>
      <p>Progress in this internship (25%)<progress value="25" max="100"></progress><br/>
      Progress in the Specialization (50%)<progress value="50" max="100"></progress><br/>
      Progress in life goals (75%)<progress value="75" max="100"></progress></p>
  </section>
  <section>
   <h2>More about me</h2>
 <details open>
	<summary>My Childhood</summary>
	<p>I was born in delhi but grew up in gurugram</p>
   </details>
   <details open>
	<summary>Positive Words Describing Me</summary>
	<p>1. Able
		I am able to handle multiple tasks on a daily basis.
        <br/>
	2. Creative
		I use a creative approach to problem solve.
        <br/>
	3. Dependable
		I am a dependable person who is great at time management.
        <br/>
	4. Energetic
		I am always energetic and eager to learn new skills.
        <br/>
	5. Experience
		I have experience working as part of a team and individually.
        <br/>
	6. Flexible
		I am flexible in my working hours, being able to work evenings and weekends.
        <br/>
	7. Hardworking
		I am hardworking and and never give up.
        <br/>
	8. Honest
		I am honest and trustworthy when I am counting money after our charity.
        <br/>
	9. Imaginative
		I work with the team to provide imaginative solutions for the problem.
        <br/>
	10. Innovative
		I am always coming up with innovative ideas.
        <br/>
	11. Motivated
		I am motivated to go to the gym before work to get fit and healthy.
        <br/>
	12. Organised
		I have organised my stuff so that they are completed in time and organised manner.
        <br/>
	13. Reliable
		Freinds rely on me to be on time.
        <br/>
	14. Sense of humour
		Even though I take my work seriously, I do have a good sense of humour.
        <br/>
	</p>


   </details>
  <details open>
	<summary>Favorite Foods</summary>
	<ul>
		<li>Pizza</li>
		<li>Panna cotta</li>
		<li>HotPot</li>
		<li>Tacos </li>
	</ul>

  <details open>
	<summary>Find Me On</summary>
    <nav>
	<a href="https://www.facebook.com/"><img src="facebook.jpg" width="50" height="50" alt="Facebook logo"></a>
        <br/>
	<a href="https://www.linkedin.com/"><img src="linkedin.jpg" width="50" height="50" alt="Facebook logo"></a>
        <br/>
	<a href="https://twitter.com/"><img src="twitter.jpg" width="50" height="50" alt="Facebook logo"></a>
        <br/>
	<a href="https://www.instagram.com/"><img src="instagram.jpg" width="50" height="50" alt="Facebook logo"></a>
        <br/>
    </nav>
</details>
  </section>
 <footer>
		Thank you all for visiting my portfolio. This page was created by Yukti Agarwal .To learn more about web design, visit
		<a href="https://github.com/">Intro to Web Design</a>
</footer>

</body>
</html>